<mat-card>
    <img mat-card-image src='{{data.imageUrl !== null && data.imageUrl || "assets/img/no_image.png"}}' alt="photo">
    <mat-card-content>
      <b>{{data.name}}</b>      
    </mat-card-content>
    <mat-card-actions fxLayout="row" >
      <button mat-button fxFlex="50" (click)="openDetailsDialog()"><fa-icon icon="external-link-alt"></fa-icon></button>
      <button mat-button fxFlex="50"><fa-icon icon="trash"></fa-icon></button>          
    </mat-card-actions>
  </mat-card>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>    
</mat-dialog-actions>