@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// define a real custom palette (using http://mcg.mbitson.com)
$fox-primary: (
  50 : #e7e8e4,
  100 : #c3c6bc,
  200 : #9ba190,
  300 : #737b63,
  400 : #555e41,
  500 : #374220,
  600 : #313c1c,
  700 : #2a3318,
  800 : #232b13,
  900 : #161d0b,
  A100 : #b5ff5e,
  A200 : #9dff2b,
  A400 : #85f700,
  A700 : #77de00,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

$fox-accent: (
  50 : #ecede9,
  100 : #d0d3c8,
  200 : #b1b6a4,
  300 : #91997f,
  400 : #7a8363,
  500 : #626d48,
  600 : #5a6541,
  700 : #505a38,
  800 : #465030,
  900 : #343e21,
  A100 : #d5ff85,
  A200 : #c3ff52,
  A400 : #b1ff1f,
  A700 : #a8ff05,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

// mandatory stuff for theming
$fox-palette-primary: mat-palette($fox-primary);
$fox-palette-accent:  mat-palette($fox-accent);

// include the custom theme components into a theme object
$fox-theme: mat-light-theme($fox-palette-primary, $fox-palette-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($fox-theme);


.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.btn-fa-icon_r{
  margin-right:5px;
}
.btn-fa-icon_l{
  margin-left:5px;
}
.container{
  display: flex;
  justify-content: space-around;
  flex: 0 0 230px;
}

//CONTENT
.content{
  margin: 10px;
}

.form-add{
  display: flex;
  flex-direction: column;
}
.form-add > * {
  width: 100%;
}
.mat-card-content-form{
  flex-wrap:wrap;
  max-width: 1130px;
}


//FILTERS
.filter-content{
  border-top: solid 1px rgba(0, 0, 0, 0.12);
  padding-top: 10px;
}

//ICONS
.fa-trash {
  color: mat-color($mat-red, 700);
}

//BUTTONS
.mat-button-add{
  max-height: 36px;
  color: mat-contrast($fox-primary, 400); 
  background-color: mat-color($fox-primary, 400);
}