<mat-card>
        <img mat-card-image src="assets/img/temp/rudra.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <b>Воблер OSP Rudra 130SP</b>          
        </mat-card-content>
        <mat-card-actions fxLayout="row" >
          <button mat-button fxFlex="50" (click)="openDetailsDialog()"><fa-icon icon="external-link-alt"></fa-icon></button>
          <button mat-button fxFlex="50"><fa-icon icon="trash"></fa-icon></button>          
        </mat-card-actions>
      </mat-card>
