<div class="content">
    <mat-card class="container mat-card-form">
        <mat-card-header>
                <mat-card-title>{{'ROD.ADD_TITLE'|translate}}</mat-card-title>
        </mat-card-header>   
        
        <mat-card-content class="mat-card-content-form">                
            <form class="form-add" [formGroup]="rodForm" (ngSubmit)="onSubmitRodForm()">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
                    <div fxLayout="column" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>*{{'THING.FORM.NAME_PLACEHOLDER'|translate}}</mat-label>
                            <input formControlName="name" matInput placeholder="Shimano tx spod 13ft">
                            <mat-error *ngIf="rodForm.controls['name'].errors?.required && rodForm.controls['name'].touched">Name is <strong>required</strong></mat-error>
                        </mat-form-field>
                
                        <mat-form-field appearance="outline">
                            <mat-label>{{'THING.FORM.FISHINGTYPE_PLACEHOLDER'|translate}}</mat-label>
                            <mat-select formControlName="fishingType" >
                                <mat-option *ngFor="let type of fishingTypes | enumKeys" [value]="type.key">{{type.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>{{'THING.FORM.WEIGHT_PLACEHOLDER'|translate}}</mat-label>
                            <input formControlName="weightG" matInput type="number" placeholder="300">                        
                        </mat-form-field>
                
                        <mat-form-field appearance="outline">
                            <mat-label>{{'ROD.FORM.TESTOFBAIT_PLACEHOLDER'|translate}}</mat-label>
                            <input formControlName="testOfBaitG" matInput type="number" placeholder="120">                        
                        </mat-form-field>
            
                        <mat-form-field appearance="outline">
                            <mat-label>{{'ROD.FORM.TESTOFFISHINGLINE_PLACEHOLDER'|translate}}</mat-label>
                            <input formControlName="testOfFishingLineLb" matInput type="number" placeholder="3.5">                        
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>{{'THING.FORM.PRICE_PLACEHOLDER'|translate}}</mat-label>
                            <input formControlName="price" matInput type="number" placeholder="500">
                            <mat-label><b> $</b></mat-label>
                        </mat-form-field>                
                
                        <mat-form-field appearance="outline">
                            <mat-label>{{'ROD.FORM.SECTIONS_PLACEHOLDER'|translate}}</mat-label>
                            <input formControlName="sections" matInput type="number" placeholder="2">                        
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>{{'ROD.FORM.FORMATIONTYPE_PLACEHOLDER'|translate}}</mat-label>
                            <mat-select formControlName="formationType">
                                <mat-option *ngFor="let type of formationType | enumKeys" [value]="type.key">{{type.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div  fxFlex>
                        <div>
                            <app-camera-field (changedImage)="onchangedImage($event)" [croppedImage]="rodForm.controls['imageUrl'].value!== null && rodForm.controls['imageUrl'].value.length > 0 ? rodForm.controls['imageUrl'].value : null"  [height]="225" [width]="300"></app-camera-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-thing-description" appearance="outline">
                                <mat-label>{{'THING.FORM.DESCRIPTION_PLACEHOLDER'|translate}}</mat-label>
                                <textarea formControlName="description" matInput placeholder="Text" rows="8"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                

                <button type="submit" class="mat-button-add" mat-button >{{id ? ('GENERAL.UPDATE'|translate) : ('GENERAL.ADD'|translate)}} <fa-icon icon="check" class="btn-fa-icon_r"></fa-icon></button>
            </form>
        </mat-card-content>
        
    </mat-card>
</div>

