.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .sidenav .mat-toolbar {
    //background: inherit;
  }
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .sidenav__toolbar{
    font-size: 12px;;
    height:100px;
  }
  .sidenav-user-info__image-avatar{
    background-image: url('../assets/img/btn_google.png');
    background-size: cover;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 5px;
    border: 1px solid white;
  }
  .sidenav-user-info__name{
    font-size:18px;
    font-weight:500;
  }
  .sidenav-user-info__email{
    color:rgba(0,0,0,.54);
    font-size:12px;
  }
 