<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.close()">    
    <mat-sidenav #sidenav class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async)  ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false && isAuthenticated">
      <mat-toolbar class="sidenav__toolbar" >
          <div fxLayout="row" class="sidenav-user-info" fxLayoutAlign="start center" >
              <div #avatar class='sidenav-user-info__image-avatar' ></div>
              <div fxLayout="column">
                  <div #name class="sidenav-user-info__name"></div>
                  <div #email class="sidenav-user-info__email"></div>
              </div>              
          </div>          
      </mat-toolbar>
      
      <mat-nav-list class="sidenav-nav-list">
        <a mat-list-item routerLinkActive="active" (click)="closeSideNav()" [routerLink]="[ '/home']" class="list-item sidenav-nav-list__item"><fa-icon icon="home" class="btn-fa-icon_r"></fa-icon>{{'GENERAL.HOME'|translate}}</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="active" (click)="closeSideNav()" [routerLink]="[ '/spin']" class="list-item sidenav-nav-list__item">{{'SPIN_FISHING.MENU_ITEM'|translate}}</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="active" (click)="closeSideNav()" [routerLink]="[ '/storeroom']" class="list-item sidenav-nav-list__item"><fa-icon icon="box-open" class="btn-fa-icon_r"></fa-icon>{{'STOREROOM.MENU_ITEM'|translate}}</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="active" (click)="closeSideNav()" href="#" class="list-item sidenav-nav-list__item"><fa-icon icon="cog" class="btn-fa-icon_r"></fa-icon>Settings</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="active" (click)="closeSideNav()" href="#" class="list-item sidenav-nav-list__item"><fa-icon icon="info-circle" class="btn-fa-icon_r"></fa-icon>About</a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="app-header">
          <ng-template [ngIf]="isAuthenticated">
              <button 
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="sidenav.toggle()">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </ng-template>
        
        <span>FisherNotes<fa-icon icon="sticky-note" class="btn-fa-icon_l"></fa-icon></span>
        
        <span class="nav-tool-items" >
            <a mat-button (click)='signOut()' routerLink="sign-up" *ngIf='isAuthenticated'>Sign out<fa-icon icon="sign-out-alt" class="btn-fa-icon_l"></fa-icon></a>
        </span>
      </mat-toolbar>
      <mat-progress-bar
        *ngIf="loading" color="accent" mode="indeterminate">
      </mat-progress-bar>
      <app-loader></app-loader>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
