<div class="content">
    <mat-card class="container mat-card-form">
        <mat-card-header>
                <mat-card-title>{{'REEL.ADD_TITLE'|translate}}</mat-card-title>
        </mat-card-header>   
        
        <mat-card-content class="mat-card-content-form">
            <form class="form-add" [formGroup]="mainForm" (ngSubmit)="onSubmitForm()">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
                    <div fxLayout="column" fxFlex>
                        <mat-form-field>
                            <input formControlName="name" matInput placeholder="*{{'THING.FORM.NAME_PLACEHOLDER'|translate}}">
                            <mat-error *ngIf="mainForm.controls['name'].errors?.required && mainForm.controls['name'].touched">Name is <strong>required</strong></mat-error>
                        </mat-form-field>
                        
                        <mat-form-field>
                            <mat-select formControlName="fishingType" placeholder="{{'THING.FORM.FISHINGTYPE_PLACEHOLDER'|translate}}">
                            <mat-option *ngFor="let type of fishingTypes | enumKeys" [value]="type.key">{{type.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                                
                        <mat-form-field>
                            <input formControlName="imageUrl" matInput type="url" placeholder="http://...">
                            <mat-label><fa-icon icon="link" class="btn-fa-icon_r"></fa-icon> <b> Image URL:</b></mat-label>
                        </mat-form-field>
        
                        <mat-form-field>
                            <input formControlName="weightG" matInput type="number" placeholder="{{'THING.FORM.WEIGHT_PLACEHOLDER'|translate}}">                        
                        </mat-form-field>     
        
                        <mat-form-field>
                            <input formControlName="price" matInput type="number" placeholder="{{'THING.FORM.PRICE_PLACEHOLDER'|translate}}">
                            <mat-label><b> $</b></mat-label>
                        </mat-form-field>
                    </div>
                    <div  fxFlex>
                        <div>
                            <app-camera-field (changedImage)="onchangedImage($event)" [croppedImage]="mainForm.controls['imageUrl'].value!== null && mainForm.controls['imageUrl'].value.length > 0 ? mainForm.controls['imageUrl'].value : null"  [height]="225" [width]="300"></app-camera-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-thing-description">
                                <textarea formControlName="description" matInput placeholder="{{'THING.FORM.DESCRIPTION_PLACEHOLDER'|translate}}" rows="8"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>                    

                <button type="submit" class="mat-button-add" mat-button >{{id ? ('GENERAL.UPDATE'|translate) : ('GENERAL.ADD'|translate)}} <fa-icon icon="check" class="btn-fa-icon_r"></fa-icon></button>
            </form>
        </mat-card-content>            
    </mat-card>
</div>
    
    